section
  h2.title Tools
  ul
    li <a href="https://code.visualstudio.com/" target="_blank">VS Code</a>
    li <a href="http://www.zsh.org/" target="_blank">ZSH</a>
    li <a href="https://github.com/robbyrussell/oh-my-zsh/" target="_blank">Oh My ZSH!</a>
    li <a href="https://revealjs.com/">Reveal.js</a>
    li <a href="https://github.com/Qualy-org/qualy-presenter/">Qualy presenter</a>
    li <a href="https://slides.com/">Slides</a>
