section
  section
    h2.title docker-compose

  section
    h3.title Definition
    blockquote.fragment.
      Compose is a tool for defining and running multi-container Docker applications.

  section
    h3.title How to
    ol
      li.fragment.
        Define your app’s environment with a Dockerfile so it can be reproduced anywhere.
      li.fragment.
        Define the services that make up your app in docker-compose.yml so they can be run together in an isolated environment.
      li.fragment.
        Run docker-compose up and Compose starts and runs your entire app.

  section
    h3.title Demo
