section
  h2 @icarcal
  a(href="https://github.com/icarcal" target="_blank") <i style="margin-right:20px" class="fa fa-github"></i>
  a(href="https://medium.com/@icarcal" target="_blank") <i style="margin-right:20px" class="fa fa-medium"></i>
  a(href="https://www.facebook.com/icarcal" target="_blank") <i style="margin-right:20px" class="fa fa-facebook"></i>
  a(href="https://twitter.com/icarcal" target="_blank") <i style="margin-right:20px" class="fa fa-twitter"></i>
  a(href="https://www.linkedin.com/in/icarocaldeira/" target="_blank") <i class="fa fa-linkedin"></i>
