section
  h2.title Icaro Caldeira Carreira
  ul
    li Software Engineer @ <a href="https://boacompra.com"> Boa Compra (UOL) </a>
    li 8+ years of web development
    li Community leader @ <a href="https://www.meetup.com/Nerdzao/">Nerdzão</a>
    li Community manager @ <a href="https://www.meetup.com/NodeBR/">NodeBr</a>
    li Speaker
