section
  section
    h2.title Dockerfile

  section
    h3.title Definition
    blockquote.fragment.
      A Dockerfile is a text document that contains all the commands a user could call on the command line to assemble an image

  section
    h3.title How to
    ol
      li.fragment.
        Create a Dockerfile file
      li.fragment.
        Define all the commands that you need to create your image
      li.fragment.
        Run your command

  section
    h3.title Demo
