section
  section
    h3 Cluster managment and orchestration
    ul
      li <a href="https://kubernetes.io/" target="_blank">Kubernetes</a>
      li <a href="https://docs.docker.com/engine/swarm/" target="_blank">Swarm</a>
      li <a href="https://mesosphere.github.io/marathon/" target="_blank">Mesos + Marathon</a>
      li <a href="https://rancher.com/">Rancher</a>
