section
  section
    h2.title Kitematic

  section
    h3.title Definition
    blockquote.fragment.
      Run containers through a simple, yet powerful graphical user interface.

  section
    h3.title How to
    p.fragment.
      Now part of the Docker Toolbox (windows, mac)
    p.fragment.
      Needs to be downloaded for linux through github release

  section
    h3.title Demos

