section
  h2.title Referências
  p.small <i>https://www.docker.com/</i>
  p.small <i>https://docs.docker.com/engine/reference/builder/</i>
  p.small <i>https://docs.docker.com/compose/</i>
  p.small <i>https://www.quora.com/What-are-Docker-Images</i>
  p.small <i>https://blog.docker.com/2018/08/containers-replacing-virtual-machines/</i>
