doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1-title
        include ../slides/slide-2-about-me
        include ../slides/slide-3-tools
        include ../slides/slide-4-docker
        include ../slides/slide-5-kitematic
        include ../slides/slide-6-dockerFile
        include ../slides/slide-7-docker-compose
        include ../slides/slide-references
        include ../slides/slide-questions
        include ../slides/slide-socials
        include ../slides/slide-thanks
    include inc/scripts
