head
  meta(charset="UTF-8")
  title docker-compose up - how to build your environment
  meta(name="description" content="Icaro Caldeira Carreira / @icarcal")
  meta(name="author" content="You")
  meta(property="og:type" content="https://github.com/icarcal/meetup-nerdzao-english-1")
  meta(property="og:image" content="https://avatars2.githubusercontent.com/u/11530480?s=460&v=4")
  meta(property="og:description" content="docker-compose up - how to build your environment")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
  link(rel="stylesheet", type="text/css", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  script.
    if ( window.location.search.match( /print-pdf/gi )) {
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/pdf.css' : 'css/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
